body{
    margin:0 auto;
}
#baner{
    background-color: #0B873D;
    color:white;
    font-size:150%;
    text-align: center;
    width:100%;
    float:left;
}
#lewy{
    background-color: #8CE1AE;
    width:40%;
    height: 600px;
    float: left;
}
#srodkowy{
    background-color: #5CCB89;
    width: 40%;
    height: 600px;
    float: left;
}
#prawy{
    background-color: #1DA956;
    width: 20%;
    height: 600px;
    float:left;
}
a:link{
    color:brown;
}
a:visited{
    color:red;
}
ul{
    margin: 20px;
    list-style-image: url('auto.png');
}